<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codebusters</title>
</head>
<body>
<a href="/login" >  Login  </a>
<a href="/register" >  Register  </a>
<a href="/status" >  Set Status  </a>
    <ul>
        {% for member in members %}
        <li>{{ member }}</li>
	    {% endfor %}
	</ul>

</body>
<!--<h2>Select a file to upload</h2>-->
<!--<p>-->
<!--	{% with messages = get_flashed_messages() %}-->
<!--	  {% if messages %}-->
<!--		<ul>-->
<!--		{% for message in messages %}-->
<!--		  <li>{{ message }}</li>-->
<!--		{% endfor %}-->
<!--		</ul>-->
<!--	  {% endif %}-->
<!--	{% endwith %}-->
</p>
<!--{% for url in links %}-->
<!--{% endfor %}-->

<!--{{html_images}}-->
<img src=../static/uploads/index.jpg height='60' width='60'>
<p><img src=../static/uploads/index.jpg height='60' width='60'>
<p><img src=../static/uploads/index.jpg height='60' width='60'>
<p><img src=../static/uploads/1003880.png height='60' width='60'>
<p><img src=../static/uploads/sdfs.jpg height='60' width='60'>
<p><img src=../static/uploads/wp4939880.png height='60' width='60'>
<p><img src=../static/uploads/4958474.jpg height='60' width='60'>
<p><p><p><p><p><p><p><p><p><p><p><p><p>
<form method="post" action="/image-upload" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    socket.on('connect', function() {
        socket.emit('my event', {data: 'I\'m connected!'});
    });
</script>
</html>
