<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>codebusters</title>
</head>
<body>
<a href="/login" >  Login  </a>
<a href="/register" >  Register  </a>
<a href="/status" >  Set Status  </a>

    <ul>
        {% for member in members %}
        <li>{{ member }}</li>
            <form id = "form" action = "">
      dm: <input type="text" id="Input"><br>
      <input type="submit" value="Submit" name="{{ member }}" id="id">
    </form>
	    {% endfor %}
	</ul>

</body>
<!--<h2>Select a file to uploads</h2>-->
<!--<p>-->
<!--	{% with messages = get_flashed_messages() %}-->
<!--	  {% if messages %}-->
<!--		<ul>-->
<!--		{% for message in messages %}-->
<!--		  <li>{{ message }}</li>-->
<!--		{% endfor %}-->
<!--		</ul>-->
<!--	  {% endif %}-->
<!--	{% endwith %}-->
<!--{% for url in links %}-->
<!--{% endfor %}-->

<!--{{html_images}}-->


<form method="post" action="/image-upload" enctype="multipart/form-data">
    <dl>
		<p>
			<input type="file" name="file" autocomplete="off" required>
		</p>
    </dl>
    <p>
		<input type="submit" value="Submit">
	</p>
</form>

<form id = "statuspost" action = "">
   Quote of the day: <input type="text" id="Quote"><br>
   <input type="submit" value="Submit">
    </form>


<br/>
 <br/>
 {% for message in statuschat %}
        <li>{{ message }}</li>
       {% endfor %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<script src="http://code.jquery.com/jquery-latest.min.js"></script>
<script type="text/javascript" charset="utf-8">
    var socket = io();
    $('#form').submit(function(){
        socket.emit('dm', [$('#Input').val(), $("#id").attr("name")]);
        //socket.emit('message', "Input");
        //$('#Input').val('');
        return false;
      });

    $('#statuspost').submit(function(){
       socket.emit('statusmessage', $('#Quote').val());
       //socket.emit('message', "Input");
       //$('#Input').val('');
       return false;
     });

    socket.on("send dm", data => {
        alert(data);
    });
</script>
<script type="text/javascript" charset="utf-8">

</script>
</html>
